.aside {
    flex: 0 0 300px;

    background-color: rgb(81, 73, 131);
}
.asideHead {
    padding: 15px 15px 0px 15px;
}
/*profile*/
.profile {
    display: flex;
    align-items: end;
    justify-content: space-between;

    margin: 0 0 20px 0;
}

.profileItem {
    display: flex;
    align-items: center;
    gap: 5px;
}

.profileAvatar {
    border-radius: 50%;
    overflow: hidden;
    width: 35px;
    height: 35px;
}

.avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileName {
}

.profileSetting {
    display: flex;
    align-items: center;
    gap: 10px;
}

.searchDisplay {
}

.setting {
}

.searchNote {
    border-radius: 100px;
    background-color: rgb(38, 31, 71);
    margin: 0 0 10px 0;
}

.search {
    padding: 7px 8px;
    color: rgb(155, 146, 205);
}


.newNote {
    margin: 0 0 20px 0;
}
.newNoteBtn {
    width: 100%;
    padding: 7px 0;
    background: #e03854;
    border-radius: 100px;
}

/*note-lists*/
.notesList {
    display: flex;
    flex-direction: column;
}

.notes {

}
.notes:nth-last-child(2) {
    margin-bottom: 50px;
}
.notesNavigation {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    transition: background-color 0.3s;
}

.active {
    background-color: rgb(38, 31, 71);
}
.notesImage {
}

.notesName {
}
