/*add new note*/
.addNewNote {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add {
    background: #e03854;
    padding: 10px 25px;
    border-radius: 5px;
    color: #fff;
    font-size: 50px;
}
.noteItem {
    height: 180px;
    border-radius: 24px;
    flex: 0 0 500px;
}