@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700;900&display=swap');

body {
  background-color: rgb(38, 31, 71);
  color: #fff;

  margin: 0;
  font-family: 'Gabarito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

